.c-router{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.c-router-page{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}


@keyframes forward{
    0%   {transform: translateX(100vw)}
    100% {transform: translateX(0)}
}

@keyframes back{
    0%   {transform: translateX(0)}
    100% {transform: translateX(100vw)}
}

/*@keyframes forward{*/
/*0%   {opacity: 0;transform: scale(0.8, 0.8)}*/
/*100% {opacity: 1;transform: scale(1, 1)}*/
/*}*/

/*@keyframes back{*/
/*0%   {opacity: 1;transform: scale(1, 1)}*/
/*100% {opacity: 0;transform: scale(0.8, 0.8)}*/
/*}*/

/*@keyframes forward{*/
/*0%   {opacity: 0;}*/
/*100% {opacity: 1;}*/
/*}*/

/*@keyframes back{*/
/*0%   {opacity: 1;}*/
/*100% {opacity: 0;}*/
/*}*/

.c-router-page.s-forward{
    z-index: 1;
    animation:forward 0.3s ease-in-out;
}

.c-router-page.s-back{
    z-index: 1;
    animation:back 0.3s ease-in-out;
}

.c-router-page.s-hide{
    display: none;
}
